#category_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}